# Python
__pycache__
*.pyc
*.egg-info
dist

# Log
*.log
*.log.*
*.json
*.jsonl

# Data
!**/alpaca-data-conversation.json

# Editor
.idea
*.swp

# Other
.DS_Store
wandb
output

checkpoints
ckpts*

.ipynb_checkpoints

# DevContainer
!.devcontainer/*

# Demo
serve_images/
datasets/**

# Slurm output
*.out

# Target models
target_models/llava-v1.5-7b/*
target_models/pretrained/clip-vit-large-patch14-336/*
!target_models/llava-v1.5-7b/.gitkeep
!target_models/pretrained/clip-vit-large-patch14-336/.gitkeep